@page "/Account/RegisterConfirmation"

@inject NavigationManager NavigationManager

<PageTitle>Register confirmation</PageTitle>

<h1>Register confirmation</h1>

<p>
    Thank you for registering. Please check your email to confirm your account.
</p>
